<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8"/>
    <title>Dark Side Of the Moon Online Music Store</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" th:href="@{'/css/normalize.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/skeleton.css'}"/>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" th:href="@{'/images/favicon.png'}"/>

    <link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:include="layout :: header"></header>


<h2>Add a album to the database</h2>
<form method="post" action="/admin/albums/add">

    <br>
    <label>Album ID: </label>
    <input name="albumId" />
    </br>


    <br>
        <label>Album Name: </label>
        <input name="albumName" />
    </br>

    <br>
        <label>Artist: </label>
        <input name="albumArtist" />
    </br>
    <br>
        <label>Release Date(ex: March,01,2017): </label>
        <input name="releaseDate" />
    </br>

    <br>
    <label>Genres: </label>

    <select name="genre">
        <option value="Classical">Classical</option>
        <option value="Jazz">Jazz</option>
        <option value="Blue">Blue</option>
        <option value="Electric">Electric</option>
        <option value="Pop">Pop</option>
        <option value="Metal">Metal</option>
        <option value="HipHop">HipHop</option>
        <option value="Country">Country</option>
        <option value="Indie">Indie</option>
        <option value="Folk">Folk</option>
        <option value="Funk">Funk</option>
        <option value="Punk">Punk</option>
    </select>
    </br>


    <br>
        <label>Num Of Tracks: </label>
        <input name="numOfTracks" />
    </br>


    <br>
        <label>Album Price: </label>
        <input name="albumPrice" />
    </br>




    <br>
        <button>Save Changes</button>
        </br>
</form>




<footer th:include="layout :: footer"></footer>

</body>
</html>